@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary: #003a69;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins', sans-serif;  
}


h1,
h2{
    font-family: 'saira', sans-serif:
}

ul  {
    list-style: none;
}

a  {
    text-decoration: none;
}

/* Utility Classes */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.text-primary {
    color: rgba(0, 132, 255, 0.555);
}

.btn-primary {
    background-color: rgb(0, 126, 175);
    color: #ffffff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #68686852;
}

/* Header Start */
header {
    background-color: var(--bg-primary);
    height: 100vh;
}

header .navbar {
    background-color: #04244d;
    border-bottom: 1px solid #001ea5;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}

#home #logo {
    color: white;
    font-size: 24px;
    font-weight: 600;
    
}

header .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a {
    margin: 0 15px;
    color: white;
    font-weight: 600;
}

header .header-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;

}

header .header-content .content-text {
    margin-bottom: 5rem;
    color: #0bb2ffc9;
}


header .header-content img {
    max-width: 250px;
    margin-top: 20px;
}

#home .header-content p span {
    font-weight: 700;
    font-size: 40px;
}

#home .header-content h1 {
    font-size: 47px;
    color: white;
    text-shadow: 3px 3px 3px rgba(6, 20, 141, 0.87);
}





#home .header-content .title {
    font-size: 20px;
    color: skyblue;
    margin: 10px 0;
    font-weight: 500;
}


#home .header-content .socail {
    font-size: 18px;
    padding: 10px;
    color: rgba(135, 207, 235, 0.726);
    border-radius: 50%;
    margin-right: 10px;
}

#home .header-content .socail a i {
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 127, 231, 0.801);
    
    color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#home .header-content .socail a i:hover {
    transform: scale(0.85);
}

header .header-content  img {
    max-width: 450px;
}


/* Header End */

/* About Start */
#about, 
#skills, 
#design, 
#poster {
    padding: 6rem 0;
}

#about h2 {
    text-align: center;
    font-size: 38px;
    color: #04244d;
    font-weight: 600;
    letter-spacing: 1px;
} 
#skills h2, 
#design h2, 
#poster h2, 
#contact h2 {
    text-align: center;
    font-size: 38px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 1px;
}

#about hr, 
#skills hr, 
#design hr, 
#poster hr {
    width: 100px;
    height: 3px;
    background-color: skyblue;
    border: none;
    margin: 5px auto 0;
}

#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col-1 h3 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#about .about-content .col-1 p {
    text-align: center;
    font-size: 30px;
    color: var(gray);
    margin-bottom: 20px;
    line-height: 1.8;

}

#about .about-content .col-2 p {
    color: gray;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd88;

}

/* About End */

/* Skills Start*/

#skills {
    background-color: #003a69;
}

#skills h2, 
#portfolio h2 {
    color: #fff;
    font-family: 'poppins', sans-serif;  
}

#skills .skills-content {
    margin-top: 2rem;
    background-color: #093166;
}

#skills .skills-content .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}

#skills .skills-content .row .item {
    color: #fff;
    background-color: #010057;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;

}

#skills .skills-content .row .item:hover {
    box-shadow: 10px 10px 10px #ffffff0c;
}

#skills .skills-content .row .item:nth-child(3) img {
    max-width: 80px;
}

#skills .row img {
    max-width: 40px;
}


/* Skills End */



/* Design Start */
#design, 
#contact {
    background: #003a69;
}

#design .heading h2 {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

#design .heading img {
    margin: auto;
  
}

#design .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    max-width: auto;
    margin-bottom: auto;
    margin: auto;
    margin-left: 3px;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;
}

#design .row .item {
    background-color: #007beebe;
    padding: 30px 15px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.726);
    border-radius: 5px;
    transition: all 0.3s ease;
}

#design .row .item:hover {
    transform: scale(1.04);
}

#design .row .item h3 {
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.63);
}

#design .row .item p {
    font-size: 14px;
    color: white;
}

/* Design End */


/* Poster Start */
#poster, 
#contact {
    background: #003a69;
}

#poster .heading h2 {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

#poster .heading img {
    margin: auto;
  
}

#poster .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    max-width: auto;
    margin-bottom: auto;
    margin: auto;
    margin-left: 3px;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;
}

#poster .row .item {
    background-color: #007beebe;
    padding: 30px 15px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.726);
    border-radius: 5px;
    transition: all 0.3s ease;
}

#poster .row .item:hover {
    transform: scale(1.04);
}

#poster .row .item h3 {
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.63);
}

#poster .row .item p {
    font-size: 14px;
    color: white;
}


/*Poster End*/

 






/* Contact Start */
#contact {
    padding: 2rem 0;
}

#contact .row {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    background: #021c3d;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    border-radius: 3px;
}

#contact .row input, 
#contact .row textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: #004df480;
    border: 1px solid #ffffff;
    outline: none;
}

/* Contact End */

/* Footer Start */
#footer {
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
/*Footer End*/

/* Tablet Responsive */
@media (max-width: 667px) {
    #home .navbar nav {
        display: block;
        text-align: center;
    }

    #home .navbar nav ul  {
        margin-top: 20px;
    }

    #home .navbar nav ul a {
        margin: 0 8px;
    }

    #home .header-content {
        grid-template-columns: 1fr;

    }

    #home .header-content .content-text {
        margin-bottom: 0rem;
        margin-top: 5rem;
    }

    #home .header-content h1 {
        font-size: 50px;
    }

    header .header-content img {
        max-width: 350px;
        margin: auto;
    }

    #about .about-content, 
    #contact .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;

    }

    #skills .skills-content .row,
    #services .row, 
    #portfolio .row {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact .row img {
        max-width: 250px;
        margin: auto;
    }

}

/* Mobile Responsive */
@media (max-width: 528px){
    #home .header-content h1 {
        font-size: 35px;
    }

    #home .header-content p span,
    #home .header-content .title {
        font-size: 16px;
    }

    header .header-content img  {
        margin-top: 0,1rem;
        margin-right: 1rem;
        max-width: 300px;
    }

    #about h2,
    #skills h2,
    #design,
    #poster h2,
    #contact h2,
   

    #about .about-content .col-1 h3 {
        font-size: 20px;
    }

    #skills .skills-content .row,
    #design .row,
    #poster .row {
        grid-template-columns: 1fr;
    }

    #contact .row {
        padding: 1rem 1rem;
    }
}
 
